
<div class="content">
   </div>
       <footer id="myFooter">
           <div class="container">
               <div class="row">
                     <h5 id="footerDesc">Directory of all hospitals in Jalandhar</h5>
                   <div class= "myCols" style="width: 30%; margin: 25px auto;">
                       <ul class="footerItems">
                           <li><a href="/hospitals"><i class="fa fa-home"></i> Home </a></li>
                           <li><a href="/register"><i class="fa fa-user-plus"></i> Sign up </a></li>
                           <li><a href="/login"><i class="fa fa-sign-in"></i> Login</a></li> 
                       </ul>
                   </div>
               </div>
           </div>
           <div class="social-networks">Contact Us At 
               <a href="https://www.facebook.com/shubham.thind.52" class="facebook"><i class="fa fa-facebook-official"></i></a>
               <a href="https://twitter.com/ShubhamThind3" class="twitter"><i class="fa fa-twitter"></i></a>
               <a href="https://www.linkedin.com/in/shubham-thind-36133214b/" class="linkedin"><i class="fa fa-linkedin"></i></a>
           </div>
           <div class="footer-copyright">
               <p> Author :  Shubham Thind ,  Email:  shubhamthind7@gmail.com </p>
           </div>
       </footer>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </body>
   </html>

